<div class="row row-cols-lg-4 row-cols-md-2">
  <% products.each do |product| %>
    <div>
      <%= link_to product_path(product.id) do %>
        <%= image_tag product.get_image(160, 120) %><br>
        <%= product.name %><br>
        <%= number_to_currency(product.with_tax_price, unit: "¥", format: "%u %n", precision: 0 ) %>
      <% end %>
    </div>
  <% end %>
<div>