<div class="container">
  <div class="row">

    <div class="col-3 mt-5">
      <%= render "public/genres/list", genre: @genre, genres: @genres %>
    </div>

    <div class="col-9">
      <h3 class="mb-3 font-weight-bold">
        商品一覧 (全 <%= count_products%>件)
      </h3>
      <%= render "index", count_products: @count_products, products: @products %>
    </div>

  </div>
  <div class="row d-flex justify-content-center">
    <%= paginate @products %>
  </div>
</div>