<div class="main_contents">
 <div class="row t-10">
   <div class="offset-1">
     <%= render "public/genres/list", genres: @genre %>
   </div>
  <div class="container">
   <div class="col-md-8 offset-md-1">
      <div class="mt-5">
        <p class="fs-1 fw-bold">
         ようこそ、ながのCAKEへ！</br>
         このサイトは、ケーキ販売のECサイトになります。</br>
         会員でない方も商品の閲覧はできますが、</br>
         購入には会員登録が必要になります。
        </p>
      </div>
    
    <div class="container mt-5" id="container">
      <div class="row">
        <div class="col">
          <div class="mt-5">
            <h3><strong>新着商品</strong></h3>
            <div class="row mt-4">
              <div class="row slider">
                <%= render "public/products/index", products: @products %>
              </div>
            </div>
            <p class="text-center mt-5">
              <%= link_to "全ての商品を見る >", products_path %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
