<div class="container">
  <div class="row">
    
  </div>
  <table>
    <thead>
      <tr>
        <th>ジャンル</th>
      </tr>
    </thead>
    <tbody>
      
      
      
    </tbody>
  </table>
</div>