@use '~bootstrap/scss/bootstrap';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

main {
  margin-top: 20px;
}

th {
  background-color: #f8fbf8;
}

td {
  word-break: break-all;
}

a {
  color: #640125;
}

a:hover {
  background-color: #e1cfe6;
  color: #640125;
}

header a:hover {
  background-color: #4d021d;
}




.btn-outline-secondary {
  color:#9d5b8b;
  background-color: transparent;
  background-image: none;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color:#9d5b8b;
  border-color:#9d5b8b;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color:#9d5b8b;
  background-color: transparent;
}

.btn-outline-success {
  color: #88cb7f;
  background-color: transparent;
  background-image: none;
  outline-offset: pink;
}

.btn-outline-success:hover,
.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color:#88cb7f;
  border-color:#88cb7f;
}

.btn-outline-success:focus, .btn-outline-success.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #88cb7f;
  background-color: transparent;
}

.btn-outline-danger {
  color: #e597b2;
  background-color: transparent;
  background-image: none;
  outline-offset: pink;
}

.btn-outline-danger:hover,
.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color:#e597b2;
  border-color:#e597b2;
}

.btn-outline-danger:focus, .btn-outline-danger.focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #e597b2;
  background-color: transparent;
}

.btn-outline-primary {
  color: #8491c3;
  background-color: transparent;
  background-image: none;
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color:#8491c3;
  border-color:#8491c3;
}

.btn-outline-primary:focus, .btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color:#8491c3;
  background-color: transparent;
}

footer{
  width: 100%;
}

@media screen and (max-width: 768.98px) {

  header {
    width: 100%;
  }

  main {
    width: 100%;
    display: block;
  }

  footer {
    width: 100%;
  }

}