.main_contents {
  background-image: url(/assets/back.webp);
  background-size: cover;
  // background-position: center;
}

/*背景画像の透過用CSS*/
.bkRGBA {
  height: 100%;
  background: rgba(255,255,255,0.5);
}

/* 新着商品スライドショー*/

.slider {
  width: 90%;
  margin: 0 auto;
}

.slider img {
  width: 300px;
  height: 200px;
}

.slider .slick-slide.slick-center {
  transform: scale(1);
  opacity: 3;
}

.slider li {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: #FFF;
}

.slider li p {
  margin: 5px 0;
}

.slider li p.caption {
  font-size: 15px;
  font-weight: bold;
}