<div class="container">
  <h3>商品詳細ページ</h3>
  <div class="row">
    <%= @product.image %>
    <div class="table">
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </div>
  </div>
  
</div>
