<div class="container mt-5 pt-5">
  <div class="row d-flex align-items-center">
    <div>
      <img src="/assets/angel.png" class="img-angel" alt="Responsive image">
    </div>
      <h2>ご注文ありがとうございました！</h2>
    <div>
      <img src="/assets/angel.png" class="img-angel2" alt="Responsive image">
    </div>
  
  </div>
</div>